/***Modify bootstrap buttons 修改引导按钮***/
.btn {
	background-color: #e5e5e5;
	background-image: none;
	filter: none;
	border: 0;
	padding: 7px 14px;
	text-shadow: none;
	font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
	cursor: pointer;
	outline: none;
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn[disabled],
.btn.disabled {
  color: #333333;
  background-color: #d8d8d8 !important;
}
.btn.transparent {/*  Blue */
  color: black;
  text-shadow: none;
  background-color: transparent;
}
.btn.blue {
  color: white;
  text-shadow: none;
  background-color: #4d90fe;
}
.btn.blue:hover,
.btn.blue:focus,
.btn.blue:active,
.btn.blue.active,
.btn.blue[disabled],
.btn.blue.disabled {
  background-color: #0362fd !important;
  color: #fff !important;
}
/*  Misc */
.m-icon-big-swapright{/* 导航栏see all messages 向右浮动小标签 */
  background-position: -42px -28px;
}
/***Dropdowns***/
.dropdown-menu {/*导航栏用户下拉列表*/
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  list-style: none;
  text-shadow: none;
  padding: 0px;
  margin:0px;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);  
  font-size: 14px;
  font-family: "Segoe UI",Helvetica, Arial, sans-serif;
  border: 1px solid #ddd;
}
/***Forms***/
input.m-wrap{
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    border: 1px solid #e5e5e5;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input[type="text"].m-wrap {
  -webkit-appearance: none !important;   
	color: #333333; 		
  outline: 0;
  height: 20px;
	padding: 6px 6px !important;
  line-height: 20px;
  font-size: 14px;
  font-weight: normal;
  vertical-align: top;  
	background-color: #ffffff;
	background-image: none !important;
  filter: none !important;
	  -webkit-box-shadow: none !important;
	     -moz-box-shadow: none !important;
	          box-shadow: none !important;
	  -webkit-border-radius: 0px;
	     -moz-border-radius: 0px;
	          border-radius: 0px;
  background: transparent;   
}
input[type="text"].m-wrap:focus{
  border-color: #999999;
  outline: 0 !important;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;      
}
input[disabled],
select[disabled],
textarea[disabled] {
  cursor: not-allowed;
  background-color: #F4F4F4 !important;
}
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #F9F9F9 !important;
}